#redBox
{
    left: 100px; 
    top: 100px; 
    border: solid red;
}

#greenBox
{
    left: 450px; 
    top: 100px; 
    border: solid green;
   
}

#blueBox
{
    left: 800px; 
    top: 100px; 
    border: solid blue;
}

.Stage
{
    position: absolute; 
    width: 300px; 
    height: 450px;
    text-align: center;
    border: 3px;
}
